<h1>All Cookies</h1>
<div>
  <p class="cookie-name"></p>
  <ul>
    <li class="cookie-count"></li>
    <li class="cookie-price"></li>
    <li class="cookie-per-dozen"></li>
  </ul>
</div>
<div>
  <p class="cookie-name"></p>
  <ul>
    <li class="cookie-count"></li>
    <li class="cookie-price"></li>
    <li class="cookie-per-dozen"></li>
  </ul>
</div>
<div>
  <p class="cookie-name"></p>
  <ul>
    <li class="cookie-count"></li>
    <li class="cookie-price"></li>
    <li class="cookie-per-dozen"></li>
  </ul>
</div>
<div>
  <p class="cookie-name"></p>
  <ul>
    <li class="cookie-count"></li>
    <li class="cookie-price"></li>
    <li class="cookie-per-dozen"></li>
  </ul>
</div>
<div>
  <p class="cookie-name"></p>
  <ul>
    <li class="cookie-count"></li>
    <li class="cookie-price"></li>
    <li class="cookie-per-dozen"></li>
  </ul>
</div>
{{outlet}}
