<h1>All Baked Goods</h1>
<p>
  {{link-to 'Cakes' 'store.cakes' id="cakes-link"}}
</p>
<p>
  {{link-to 'Cupcakes' 'store.cupcakes' id="cupcakes-link"}}
</p>
<p>
  {{link-to 'Cookies' 'store.cookies' id="cookies-link"}}
</p>

{{outlet}}
